@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <ul>
        <li>
            @("こんにちは、" + User.Identity.GetUserName() + "さん")
        </li>
        <li>
            @Html.ActionLink("ログアウト", "Logout", "Account")
        </li>
    </ul>
}
else
{
    <ul>
        <li>
            @Html.ActionLink("ログイン", "", "Account")
        </li>
    </ul>
}
